* {
  border: none;
  border-radius: 0;
  font-family: "DepartureMono Nerd Font";
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background: #181616;
  color: #c5c9c5;
}

#workspaces button {
  border: 1px solid #54546d;
  background: #1f1f28;
  color: #c5c9c5;
  padding: 0 4px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.visible,
#workspaces button.focused {
  background: #7e9cd8;
  color: #181616;
  border: 1px solid #7e9cd8;
}

#workspaces button.urgent {
  background: #c4746e;
  border: 1px solid #c4746e;
  color: #181616;
}

#custom-separator {
  color: #444444;
  padding: 0px 6px;
}

#tray,
#clock,
#battery,
#network,
#pulseaudio {
  padding: 0 6px;
}
