* {
    font-family: "DepartureMono Nerd Font";
    font-size: 11px;
}

window {
    opacity: 0.9;
    border-radius: 0;
    background: #0f0f0f;
}

#input {
    border-radius: 0;
    border:  0px;
    margin: 0px;
}
